<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品編集</title>
</head>
<body>
    <h2>編集フォーム</h2>
    <form method="post" th:action="@{/edit}" th:object="${CRUDForm}">
        <input type="hidden" th:field="*{code}" th:value="*{code}">
        <label for="name">名前:</label>
        <input type="text" th:field="*{name}" th:value="*{name}"><br>
        <label for="unitPrice">金額:</label>
        <input type="text" th:field="*{unitPrice}" th:value="*{unitPrice}"><br>
        <label for="count">数量:</label>
        <input type="text" th:field="*{count}" th:value="*{count}"><br>
        <label for="isPr">おすすめ商品フラグ:</label>
        <input type="text" th:field="*{isPr}" th:value="*{isPr}"><br>
	    <button>更新</button>
    </form>
    <br/>
</body>
</html>