<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品登録</title>
</head>
<body>
    <h2>新規登録フォーム</h2>
    <form method="post" th:action="@{/insert}" th:object="${CRUDForm}">
        <label for="name">名前:</label>
        <input type="text" name="name" id="name"><br>
        <label for="unitPrice">金額:</label>
        <input type="text" name="unitPrice" id="unitPrice"><br>
        <label for="count">数量:</label>
        <input type="text" name="count" id="count"><br>
        <label for="IsPr">おすすめ商品フラグ:</label>
        <input type="text" name="isPr" id="isPr"><br>
	    <button>登録</button>
    </form>
</body>
</html>